@font-face {
    font-family: 'unicorn';
    src: url('fontes/UNICORN\ SCHOOL.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: monospace;
}

p {
    line-height: 1.5;
}

#cabecalho {
    /* border: 2px solid red; */
    top: 0;
    right: 0;
    position: fixed;
    background-color: #3A86FF;
    width: 100%;
    height: 70px;

}

#titulo {
    font-family: 'unicorn';
    font-size: 35px;
    color: #FFBE0B;
    text-align: center;
}

#posicao-foto {
    /* border: 2px solid hotpink;     */
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 0;
}

#dados {
    margin-top: 165px;
    padding-left: 20px;
    /* border: 2px solid red; */
    width: 15%;
    height: 90px;
}

#minha_foto {
    width: 250px;
    border-radius: 100%;
    border: 1px solid #106343;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aprenderei {
    display: inline-block;
}

#sonho {
    display: inline-block;
}

#center {
    /* border: 2px solid rgb(228, 74, 207); */
    display: inline-block;
    width: 49%;
    text-align: center;
}

#center1 {
    /* border: 2px salmon solid; */
    display: inline-block;
    width: 49%;
    text-align: center;
}

.lado-esquerdo {
    /* border: 2px solid red;    */
    width: 500px;
    float: left;
    text-align: justify;
    margin-left: 50px;
}

.lado-direito {
    /* border: 2px solid #46ff18;   */
    width: 500px;
    float: right;
    text-align: justify;
    margin-right: 50px;
}

#rodape {
    /* border: 2px solid red; */
    padding-top: 210px;
    padding-bottom: 20px;
    text-align: center;
}

#a {
    text-decoration: none;
    color: black;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 10px;
    background-color: #32bd87;
    width: 60px;
    margin-left: auto;
}

#a:hover {
    background-color: #106343;
}

#tabela {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}